* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(20, 20, 20);
    background-image: linear-gradient(to top, black, transparent);
    color: white;
    width: 100%;
    font-family: helvetica;
    display: block;
    overflow-x: hidden;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    border: 0;
}
.container-catalog{
    width: 100%;
    position: relative;
    padding: 0;
    margin-top: 6%;
    margin-bottom: 3%;
    margin-left: 4.5%;
}
.container-list-movie{
}
.list-genre{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1%;
}


.arrows > div{
    background-image: linear-gradient(to right, black, transparent);
    width: 50px;
    position: absolute;
    top:18%;
    bottom:0;
    right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
}
.arrows > div:hover{
    opacity: 1;
}
.arrows div >span{
    font-size:70px;
    font-weight: bold;
}
.arrows .next{
    position: absolute;
    left: auto;
    right: 4.5%;
    background-image: linear-gradient(to left, black, transparent);
}
.movie-list{
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5%;
}
.movie-cover{
    max-width: 235px;
    max-height: 150px;
    flex-shrink: 0;
    cursor: pointer;
}
.movie-cover:hover{
    transform: scale(1.3);
  
}
.movie-cover img{
    border-radius: 4px;
}


/*Footer*/

footer {
    width: 70%;
    height: 200px;
    margin-left: 15%;
    display: block;
}

.icons-social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icons-social a {
    padding-left: 20px;
    color: white;
    padding-bottom: 10px;
}

.footer-menssage ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90px;
    padding-bottom: 10px;
    align-items: flex-start;
}

.footer-menssage ul li {
    padding: 5px;
    color: white;
}

.copywrite {
    display: flex;
}

#cds {
    border: 1px solid white;
    width: 140px;
    text-align: center;
    margin-right: 10px;
}